<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.teamps.auth_service.mapper.RefreshTokenMapper">

    <!--userId로 토큰 조회-->
    <select id="findByUserId" parameterType="java.lang.Long" resultType="com.teamps.auth_service.model.RefreshToken">
        SELECT * FROM refresh_tokens WHERE user_id = #{userId}
    </select>

    <!--리프레시 토큰 생성-->
    <insert id="insertRefreshToken" parameterType="com.teamps.auth_service.model.RefreshToken">
        INSERT INTO refresh_tokens (user_id, refresh_token)
        VALUES (#{userId}, #{refreshToken})
    </insert>

    <!--userId로 토큰 삭제-->
    <delete id="deleteByUserId" parameterType="java.lang.Long">
        DELETE FROM refresh_tokens WHERE user_id = #{userId}
    </delete>

    <!--해당 리프레시 토큰이 존재하는지 검색-->
    <select id="findByRefreshToken" parameterType="java.lang.String" resultType="com.teamps.auth_service.model.RefreshToken">
        SELECT * FROM refresh_tokens WHERE refresh_token = #{refreshToken}
    </select>

    <!--리프레시 토큰값을 이용하여 토큰 삭제-->
    <delete id="deleteByRefreshToken" parameterType="java.lang.String">
        DELETE FROM refresh.tokens WHERE refresh_token = #{refreshToken}
    </delete>

</mapper>
